extends layout

block content
  h1 My shopping Cart
  - var total=0;
    table.table
      thead
        th(style="text-align:center") Name
        th(style="text-align:center") Price
        th(style="text-align:center") Actions
      tbody
        each item in cart
          - total += Number(item.price)
          
          tr
            td(style="text-align:center")=item.name
            td(style="text-align:center")=item.price
            td(style="text-align:center")
              a(href="/categorys/cart/remove/"+item._id, class="btn btn-danger") delete 
      tfoot
        tr
          td(style="text-align:center") Total
          td(style="text-align:center")=total

