body {
  padding-top: 10px;
  background-color: #59b49d;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.faas{
  margin-left:20px;
}
.card{
  padding: 10px;
  margin: 10px;
}
.card_style{
  margin-top: 20px;
  margin-bottom: 30px;
}

tbody{
  padding: 30px;
}
.btn{
  margin-top:15px;
}