extends ../layout

block content
    h1 Add New Product
    form(action="/categorys/add",method="post")
        .form-group
            label(for="type") Product Type
            input#type(type="text", class="form-control", name="type")
        .form-group
            label(for="brand") Brand Name
            input#brand(type="text", class="form-control", name="brand")
        .form-group
            label(for="name") Product Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="price") Price
            input#price(type="number", class="form-control", name="price")
        input(type="submit", class="btn btn-info")
    